<div ng-include="'templates/header.html'"></div>
	<section>
		<div class="container-fluid" style="padding-left:80px; padding-right:80px;">
			<div class="col-md-12" style="margin-top:50px;">
				<h1 class="headCenter"><b>ABOUT US</b></h1>
			</div>
			<div class="col-md-12 implantsHead">
				<div class="row">
					<h2><b>ABOUT:</b></h2>
				</div>	
			</div>
			<div class="col-md-12 aboutUsPara">
				<p>In line with our aim of bringing a smile on every lip, Saritha dental clinic has been delivering quality and affordable dental treatment for the past three decades. It is our mission to improve Oral Health through effective, equitable, affordable, accessible, safe and sustainable Oral
				Health care.This is our contribution to the grand vision of creating a Healthy nation.</p>
			</div>
			<div class="col-md-12 implantsHead">
				<div class="row">
					<h2><b>ESTABLISHMENT:</b></h2>
				</div>	
			</div>
			<div class="col-md-12 aboutUsPara">
				<p>Set up in 1985, Saritha Dental Clinic was established  by Dr.Ravindra on his graduation from Osmania University.Today it is run by him and Dr. Akash Chakravarthy, M.D.S Oral Surgery and is leading super specialty dental clinic and implant center.Our establishments at Malkajgiri and Sainikpur offer a range of cutting edge dental treatment at affordable prices.</p>
			</div>
			<div class="col-md-12 implantsHead">
				<div class="row">
					<h2><b>MISSION STATEMENT:</b></h2>
				</div>	
			</div>
			<div class="col-md-12 aboutUsPara">
				<p>With a holistic approach towards oral healthcare, we are committed to treating all our patients to the best of our ability, which comes through years of excellent understanding of oral healthcare.Our patient centric approach ensures honest, best in the class treatment without any hidden charges and a complete care package right from the diagnosis to the final delivery of the prostheses.</p>
			</div>
			<div class="col-md-12 implantsHead">
				<div class="row">
					<h2><b>VISION STATEMENT:</b></h2>
				</div>	
			</div>
			<div class="col-md-12 aboutUsPara">
				<p>To constantly innovate, integrate and imbibe global technological advancements into the services of the clinic, enabling clinicians to deliver precise, error free treatment which is at par with international standards. WE, at the Saritha Dental Clinic envision a working environment that is conducive to learning newer and improved methods of preventive and corrective oral and maxillofacial healthcare through extensive practical experiences. </p>
			</div>
			<div class="col-md-12 implantsHead">
				<div class="row">
					<h2><b>QUALITY ASSURANCE:</b></h2>
				</div>	
			</div>
			<div class="col-md-12 aboutUsPara">
				<p>Quality precedes Quantity.At Saritha Dental Clinic, we employ only the best in the industry for all our patients.From state of the art equipment, internationally approved dental materials and a highly skilled staff, we ensure that you'll be receiving only the best in Oral healthcare.</p>
			</div>	
			
			<div class="col-md-12 implantsHead">
				<div class="row">
					<h2 style="margin-left: 5px;"><b>EQUIPMENTS:</b></h2>
				</div>	
			</div>
			<div class="col-md-12">
				<!--<ul class="aboutUsPoints" type="disc">-->
					<li class="aboutUsPoints">Intra oral camera</li>
					<li class="aboutUsPoints">Dental unit</li>
					<li class="aboutUsPoints">Heavy duty suction apparatus</li>
					<li class="aboutUsPoints">Three way syringes</li>
					<li class="aboutUsPoints">Saliva ejector</li>
					<li class="aboutUsPoints">Scalar Unit</li>
					<li class="aboutUsPoints">Standard Dental X-Ray Unit(R.V.G)</li>
					<li class="aboutUsPoints">(Portable R.V.G)</li>
					<li class="aboutUsPoints">Lead Apron</li>
					<li class="aboutUsPoints">LASER Unit</li>
					<li class="aboutUsPoints">Light Cure Machine</li>
					<li class="aboutUsPoints">Autoclave</li>
					<li class="aboutUsPoints">Stethoscope with Sphygmomanometer</li>
					<li class="aboutUsPoints">Refrigerator to keep vaccines and drugs</li>
					<li class="aboutUsPoints">Disposable medical towel paper</li>
					<li class="aboutUsPoints">Disposable aprons/bibs, suction tips</li>
					<li class="aboutUsPoints">Sharp needle dispenser</li>
					<li class="aboutUsPoints">Pulse oximeter</li>
					<li class="aboutUsPoints">Oxygen cylinder</li>
					<li class="aboutUsPoints">E.C.G Monitoring system in minor O.T room</li>
					<li class="aboutUsPoints">Hand Disinfectant</li>
					<li class="aboutUsPoints">Emergency</li>
				<!--</ul>-->
			</div>		
		</div>
	</section>	
<div ng-include="'templates/footer.html'"></div>	