<div ng-include="'templates/header.html'"></div>
<body>
<div class="container-fluid" style="padding-left:60px; padding-right:60px;">
	<div class="col-md-12" style="margin-top:50px;">
		<h1 class="headCenter"><b>CONTACT US</b></h1>
	</div>
	<form>
		<div class="col-md-12" style="margin-top: 70px;">
			<div class="col-md-3 col-md-offset-1 " >
				<p style="font-size: 22px;"><b>Name*</b></p>
			</div>
			<div class="col-md-5 col-md-offset-1 text-left">
				<input class="boxBorderColor" type="text" style="width:100%;" name="">
			</div>
		</div>
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="col-md-3 col-md-offset-1 " >
				<p style="font-size: 22px;"><b>Ph.No.*</b></p>
			</div>
			<div class="col-md-5 col-md-offset-1 text-left">
				<input class="boxBorderColor" type="text" style="width:100%;" name="">
			</div>
		</div>
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="col-md-3 col-md-offset-1 " >
				<p style="font-size: 22px;"><b>Email*</b></p>
			</div>
			<div class="col-md-5 col-md-offset-1 text-left">
				<input class="boxBorderColor" type="text" style="width:100%;" name="">
			</div>
		</div>
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="col-md-4 col-md-offset-1 " >
				<p style="font-size: 22px;"><b>Preffered Branch Location*</b></p>
			</div>
			<div class="col-md-5 text-left">
				<input class="boxBorderColor" type="text" style="width:100%;" name="">
			</div>
		</div>
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="col-md-4 col-md-offset-1 " >
				<p style="font-size: 22px;"><b>Date/Time*</b></p>
			</div>
			<div class="col-md-5  text-left">
				<input class="boxBorderColor" type="text" style="width:45%;" name="">
				<input class="boxBorderColor" type="text" style="width:45%; margin-left: 40px;" name="">
				<span style="margin-left: 95px;"><b>Date</b></span>
				<span style="margin-left: 215px;"><b>Time</b></span>
			</div>
		</div>
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="col-md-4 col-md-offset-1 " >
				<p style="font-size: 22px;"><b>Leave a Message(Optional)*</b></p>
			</div>
			<div class="col-md-5 text-left">
				<input class="boxBorderColor" type="text" style="width:100%;" name="">
			</div>
		</div>
		
		<button class="submitButton" type="submit" ><b>Submit</b></button>
	</form>
	<div class="col-md-9 col-md-offset-1">
		<p style="margin-top: 8%; font-size: 22px;"><b>Call us for appointments between 10am and 8pm Monday through Saturday or book online or by email anytime.</b></p>
		<p class="text-left fnt"><b><i class="fa fa-map-marker" aria-hidden="true"></i> Opp: Ramachandra Cini Polic, R.K. Nagar, Malkajgiri, Hyderabad - 500047.</b></p><br>
		<p class="text-left fnt"><b><i class="fa fa-phone" aria-hidden="true"></i> 040-27240345; 65440345 ; 9603110544</b></p><br>
		<p class="text-left fnt"><b><i class="fa fa-map-marker" aria-hidden="true"></i> Plot No.1, Netaji Nagar, Kapra, Sainikpuri, Hyderabad - 500062.</b></p><br>
		<p class="text-left fnt"><b><i class="fa fa-phone" aria-hidden="true"></i> 040 27113096; 65444345; 9346852028</b></p><br>
		<p class="text-left fnt"><i class="fa fa-envelope" aria-hidden="true"></i><b> saritha.clinic@gmail.com</b></p><br>
		<p class="text-left fnt"><b></i>For appointments: 9346852028,9603110544.</b></p>
	</div>
</div>
</body>
<div ng-include="'templates/footer.html'"></div>
