<div ng-include="'templates/header.html'"></div>
	<style>
	.read-more-state {
	display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}



.read-more-trigger {
	cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #C13639;
    font-size: .9em;
    line-height: 2;
    margin-left: 80px;
}
</style>
	<section>
		<div class="container-fluid">
			<div class="col-md-12" style="margin-top:30px;">
				<h1 class="headCenter"><b>DENTAL VACATION</b></h1>
			</div>
			<div class="col-md-12 dentalVacPara">	
				<p>We would all love to mix work and play. What if, however, you could include health and play?Dental tourism is a vacation
				with a twist where you can set aside the hassie of hefty dental bills in your home country and instead get affordable quality
				treatment somewhere else.<br><br>
				Hyderabad is one of India's richest cultural hubs, With a fascinating history, a distinct delectable cuisine and a thriving urban
				software center, this city is a bubbling pot of excitement and adventure. Hyderabad is also a leading spot for medical
				tourism, where people from all over the world pop in to get quality health-care at economical rates. Dental tourism today
				constitutes for about 30% of medical tourism in India, Owing to the low cost, skilled practitioners and flexibility in treatment,
				we see many patients traveling exclusively for dental health-care. At Saritha Dental Clinic we can help you save upto 80%
				of what you'd be spending on dental treatment back at home, be it dental implants, smile designing, cosmetic dentistry etc.
				We'd also help you plan your tour around India in such a manner that you receive the full benefit of your travel and dental
				treatment. With customized treatment plans, you could pop in for a classic hyderabadi biriyani at your leisure!<br><br>
				Call us to make enquiries about our treatment packages or to book an appointment at 9603110544<br>
				You could also leave us an email at saritha.clinic@gmail.com</p>
			</div>
			<div class="col-md-12" style="margin-top:90px;padding-left: 150px; padding-right: 150px;">
				<div class="col-md-4">
					<img class="img-responsive" src="imgs/dentalVacn.PNG" style="float:left;">
					<h3 class="implantsHead">1 Implant + 1 Crown</h3>
					<div class="col-md-12">
						<div>
							<input type="checkbox" class="read-more-state" id="post-1" />
							<p class="read-more-wrap" style="text-align:justify;font-weight:900;">Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,<span class="read-more-target">Lorem ipsum dolar amet tu conseqLorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</span></p>
							<label for="post-1" class="read-more-trigger"></label>
						</div>
						<button class="implantsButton">400 USD - 450 USD</button>
					</div>
				</div>	
				<div class="col-md-4">
					<img class="img-responsive" src="imgs/dentalVacn.PNG" style="float:left;">
					<h3 class="implantsHead">2 Implant + 3 Unit Bridge</h3>
					<div class="col-md-12">
						<div>
							<input type="checkbox" class="read-more-state" id="post-1" />
							<p class="read-more-wrap" style="text-align:justify;font-weight:900;">Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,<span class="read-more-target">Lorem ipsum dolar amet tu conseqLorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</span></p>
							<label for="post-1" class="read-more-trigger"></label>
						</div>
						<button class="implantsButton">400 USD - 450 USD</button>
					</div>
				</div>	
				<div class="col-md-4">
					<img class="img-responsive" src="imgs/dentalVacn.PNG" style="float:left;">
					<h3 class="implantsHead">2 Implant + 4 Unit Bridge</h3>
					<div class="col-md-12">
						<div>
							<input type="checkbox" class="read-more-state" id="post-1" />
							<p class="read-more-wrap" style="text-align:justify;font-weight:900;">Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,<span class="read-more-target">Lorem ipsum dolar amet tu conseqLorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</span></p>
							<label for="post-1" class="read-more-trigger"></label>
						</div>
						<button class="implantsButton">400 USD - 450 USD</button>
					</div>
				</div>	
			</div>
			<div class="col-md-12" style="margin-top:50px;padding-left: 150px; padding-right: 150px;">
				<div class="col-md-4">
					<img class="img-responsive" src="imgs/dentalVacn.PNG" style="float:left;">
					<h3 class="implantsHead">Immediate Loaded Implants</h3>
					<div class="col-md-12">
						<div>
							<input type="checkbox" class="read-more-state" id="post-1" />
							<p class="read-more-wrap" style="text-align:justify;font-weight:900;">Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,<span class="read-more-target">Lorem ipsum dolar amet tu conseqLorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</span></p>
							<label for="post-1" class="read-more-trigger"></label>
						</div>
						<button class="implantsButton">400 USD - 450 USD</button>
					</div>
				</div>	
				<div class="col-md-4">
					<img class="img-responsive" src="imgs/dentalVacn.PNG" style="float:left;">
					<h3 class="implantsHead">2 Implant + Ball Attachment + Over Denure</h3>
					<div class="col-md-12">
						<div>
							<input type="checkbox" class="read-more-state" id="post-1" />
							<p class="read-more-wrap" style="text-align:justify;font-weight:900;">Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,<span class="read-more-target">Lorem ipsum dolar amet tu conseqLorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</span></p>
							<label for="post-1" class="read-more-trigger"></label>
						</div>
						<button class="implantsButton">400 USD - 450 USD</button>
					</div>
				</div>	
				<div class="col-md-4">
					<img class="img-responsive" src="imgs/dentalVacn.PNG" style="float:left;">
					<h3 class="implantsHead">4 Implant + Ball Attachment + Over Denure</h3>
					<div class="col-md-12">
						<div>
							<input type="checkbox" class="read-more-state" id="post-1" />
							<p class="read-more-wrap" style="text-align:justify;font-weight:900;">Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,<span class="read-more-target">Lorem ipsum dolar amet tu conseqLorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</span></p>
							<label for="post-1" class="read-more-trigger"></label>
						</div>
						<button class="implantsButton">400 USD - 450 USD</button>
					</div>
				</div>	
			</div>	
			<div class="col-md-12" style="margin-top:50px;">
				<h1 class="headCenter"><b>OUR HAPPY CUSTOMERS</b></h1>
			</div>
			<!--<div class="col-md-12">
				<div class="col-md-5" style="padding-left: 60px;">	
					<img class="img-responsive" src="imgs/customers1.PNG">
				</div>
				<div class="col-md-2">	
					<img class="img-responsive" src="imgs/customers2.PNG">
				</div>
				<div class="col-md-2">	
					<img class="img-responsive" src="imgs/customers3.PNG">
				</div>
				<div class="col-md-3">	
					<img class="img-responsive" src="imgs/customers4.PNG">
				</div>
				<div class="col-md-2 col-md-offset-5">
					<img class="img-responsive" src="imgs/customers5.PNG" style="margin-top: -175px;">
				</div>	
				<div class="col-md-2">	
					<img class="img-responsive" src="imgs/customers6.PNG" style="margin-top: -175px;">
				</div>
			</div>
			<div class="col-md-12" style="padding-left: 60px;">
				<div class="col-md-2" >
					<img class="img-responsive" src="imgs/customers7.PNG">
				</div>
				<div class="col-md-2" >
					<img class="img-responsive" src="imgs/customers8.PNG">
				</div>	
				<div class="col-md-4 col-md-offset-1" >
					<img class="img-responsive" src="imgs/customers9.PNG">
				</div>-->
				<div class="col-md-12" style="padding-left: 55px;" >
					<img class="img-responsive" src="imgs/customers01.PNG">
				</div>
				<div class="col-md-12" style="padding-left: 57px;margin-top: 10px;" >
					<img class="img-responsive" src="imgs/customers02.PNG">
				</div>
		</section>	
	<div ng-include="'templates/footer.html'"></div>	
			