<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap-theme.css">
		<link rel="stylesheet" href="bootstrap-theme.min.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>	
	<style>
	.footBG{
	background-color:#2F8AA4;
	color:#fff;
	font-family: sans-serif !importent;
	}
	</style>
	<body>
	<div class="col-md-12 footBG" style="margin-top:10px;">
	<section id="footer" style="padding-left:40px;padding-right:40px;">
		<div class="col-md-12" style="margin-top:25px;">
			<h1 class="ourBranches"> OUR BRANCHES: </h1>
			<h2 class="address"> R.K. NAGAR, MALKAJGIRI, HYDERABAD </h2>
			<h2 class="address"> NETAJI NAGAR, SAINIKPURI, HYDERABAD </h2>
		</div>	
		<div class="col-md-12" style="margin-top:15px;">
			<div class="col-md-5">
				<p style="font-size: 20px;"><i class="fa fa-map-marker" style="font-size:25px; "></i>  Opp: Ramachandra Cini Polic,</p>
				<h2 style="padding-left: 30px;font-size: 20px;">R.K. NAGAR, MALKAJGIRI,</h2>
				<h2 style="padding-left: 30px;font-size: 20px;">HYDERABAD, 5000047.</h2>
			</div>	
			<div class="col-md-3">
				<p style="font-size: 20px;"><i class="fa fa-phone" style="font-size: 25px;"></i>  040-27240345</p>
				<h2 style="font-size: 20px;padding-left: 35px;">65440345</h2>
				<h2 style="font-size: 20px;padding-left: 35px;">9603110544</h2>
			</div>	
			<div class="col-md-4">
				<p style="font-size: 20px;"><i class="fa fa-envelope-o" style="font-size:25px"></i> saritha.clinic@gmail.com</p>
			</div>
		</div>		
		<div class="col-md-12" style="margin-top:15px;padding-bottom: 40px;">
			<div class="col-md-5">
				<p style="font-size: 20px;"><i class="fa fa-map-marker" style="font-size:25px; "></i>  Plot.No-1,NetajiNagar,Kapra,</p>
				<h2 style="padding-left: 30px;font-size: 20px;">Sainikpuri,</h2>
				<h2 style="padding-left: 30px;font-size: 20px;">HYDERABAD, 5000062.</h2>
			</div>	
			<div class="col-md-3">
				<p style="font-size: 20px;"><i class="fa fa-phone" style="font-size:25px;"></i>  040-27240345</p>
				<h2 style="font-size: 20px;padding-left: 35px;">65440345</h2>
				<h2 style="font-size: 20px;padding-left: 35px;">9603110544</h2>
			</div>	
			<div class="col-md-4">
				<p style="font-size: 20px;"><i class="fa fa-envelope-o" style="font-size:25px"></i> saritha.clinic@gmail.com</p>
			</div>
		</div>	
</section>		
</div>