<div ng-include="'templates/header.html'"></div>
	<style>
	.galImgs{
		width:100%;
	}
	</style>
	<section>
		<div class="container-fluid">
			<div class="col-md-12" style="margin-top:50px;">
				<h1 class="headCenter"><b>GALLERY</b></h1>
			</div>
			<div class="col-md-12" style="margin-top:20px; padding-left:20px;">
				<div class="col-md-6">
					<img class="galImgs" src="imgs/gallery1.PNG"> 
				</div>
				<div class="col-md-6">
					<img class="galImgs" src="imgs/gallery2.PNG"> 
				</div>	
			</div>
			<div class="col-md-12" style="margin-top:20px;padding-left:20px;">
				<div class="col-md-6">
					<img class="galImgs" src="imgs/gallery3.PNG"> 
				</div>
				<div class="col-md-6">
					<img class="galImgs" src="imgs/gallery4.PNG"> 
				</div>	
			</div>	
			<div class="col-md-12" style="margin-top:20px;padding-left:20px;">
				<div class="col-md-3">
					<img class="galImgs" src="imgs/gallery5.PNG">
				</div>
				<div class="col-md-3">
					<img class="galImgs" src="imgs/gallery6.PNG">
				</div>
				<div class="col-md-3">
					<img class="galImgs" src="imgs/gallery7.PNG">
				</div>
				<div class="col-md-3">
					<img class="galImgs" src="imgs/gallery8.PNG">
				</div>
			</div>
		</div>
	</section>		
	<div ng-include="'templates/footer.html'"></div>
			