<div ng-include="'templates/header.html'"></div>
	<style>
.book  {
    background-image: url("imgs/bookAnAppointment.PNG");
    background-color: #cccccc;
	background-size:cover;

  
</style>
	<body>
	
	<section>
		<div class="container-fluid">
			<div class="col-md-12" style="margin-top:70px;">
				<h1 class="headCenter"><b>FACILITIES</b></h1>
			</div>
			<div class="col-md-12" style="margin-top:75px;">
				<div class="col-md-2 col-md-offset-2">
				<img class="img-responsive text-center" src="imgs/SecureParkingIcon.PNG">
				<h4 class="headCenter" style="margin-left: -75px;">Secure Parking Space</h4>
				</div>
				<div class="col-md-2 col-md-offset-1" style="margin-left: 150px;">
				<img class="img-responsive text-center" src="imgs/LongueIcon.PNG" style="margin-top: 11px;">
				<h4 class="headCenter" style="margin-left: -75px;">Lounge Area</h4>
				</div>
				<div class="col-md-2 col-md-offset-1">
				<img class="img-responsive text-center" src="imgs/ConsluntationRoomIcon.PNG">
				<h4 class="headCenter" style="margin-left: -70px;">Exclusive Consultation Room</h4>
				</div>
			</div>
			<div class="col-md-12" style="margin-top:35px;">
				<div class="col-md-2 col-md-offset-2">
				<img class="img-responsive text-center" src="imgs/SupportStaffIcon.PNG">
				<h4 class="headCenter" style="margin-left: -80px;">Friendly Support Staff</h4>
				</div>
				<div class="col-md-2 col-md-offset-1" style="margin-left: 150px;">
				<img class="img-responsive text-center" src="imgs/AppointmentIcon.PNG" style="margin-top: 10px;">
				<h4 class="headCenter" style="margin-left: -80px;">Flexible Appointments</h4>
				</div>
				<div class="col-md-2 col-md-offset-1">
				<img class="img-responsive text-center" src="imgs/WheelchairIcon.PNG">
				<h4 class="headCenter" style="margin-left: -65px;">Wheel Chair Accessibility</h4>
				</div>
			</div>
		</section>
		<section>	
			<div class="col-md-12" style="margin-top:100px;">
				<h1 class="headCenter"><b>SERVICES</b></h1>
				<h5 class="subHeadCenter" style="font-size: 20px;"><b> Click on each image to learn more about each service</b></h5>
			</div>
			<div class="col-md-12" style="margin-top:20px;padding-right: 65px;padding-left: 65px;">
				<div class="col-md-4">
				<img class="img-responsive text-center" src="imgs/Services.PNG">
				</div>
				<div class="col-md-4">
				<img class="img-responsive text-center" src="imgs/Services2.PNG">
				</div>
				<div class="col-md-4">
				<img class="img-responsive text-center" src="imgs/Services3.PNG">
				</div>
			</div>
			<div class="col-md-12" style="margin-top:20px;padding-right: 65px;padding-left: 65px;">
				<div class="col-md-4">
				<img class="img-responsive text-center" src="imgs/Services4.PNG">
				</div>
				<div class="col-md-4">
				<img class="img-responsive text-center" src="imgs/Services5.PNG">
				</div>
				<div class="col-md-4">
				<img class="img-responsive text-center" src="imgs/Services6.PNG">
				</div>
			</div>
		</section>	
		<section>	
			<div class="col-md-12" style="margin-top:100px;">	
				<h1 class="headCenter"><b>TREATMENTS</b></h1>
			</div>	
			<div class="col-md-12" style="margin-top:50px;">
				<div class="col-md-2 col-md-offset-1">
					<img class="img-responsive text-center" src="imgs/Treatments.PNG">
					<h4 class="headCenter" style="margin-left: -30px;">Dental Implants</h4>
				</div>
				<div class="col-md-2">
					<img class="img-responsive text-center" src="imgs/Treatments.PNG">
					<h4 class="headCenter">Immediate Implants</h4>
				</div>
				<div class="col-md-2">
					<img class="img-responsive text-center" src="imgs/Treatments.PNG">
					<h4 class="headCenter">Full Fixed Denture</h4>
				</div>
				<div class="col-md-2">
					<img class="img-responsive text-center" src="imgs/Treatments.PNG">
					<h4 class="headCenter" style="margin-left: -30px;">Over Denture</h4>
				</div>
				<div class="col-md-2">
					<img class="img-responsive text-center" src="imgs/Treatments.PNG">
					<h4 class="headCenter">Crowns & Bridges</h4>
				</div>
			</div>
			<div class="col-md-12" style="margin-top:50px;">
				<h4 class="text-center" style="color:#C13639;"> See More</h4>
			</div>	
		</section>
		<section style="padding-left: 80px; padding-right: 80px;">
			<!--<div class="col-md-12" style="margin-top:50px;border:3px solid #A6A6A6;">
				<div class="col-md-2">
				<h1 style="border-right:3px solid #A6A6A6;float: right;font-size: 100px; color:#2F8AA4;font-weight: 900;">33</h1>
				</div>					
				<div class="col-md-6">
				<p style="float:left;font-size: 25px;margin-top: 41px;color:#C13639;"> <b>Years of <br>blameless job</b></p>
				<h1 style="border-right:3px solid #A6A6A6;float: right;font-size: 100px; color:#2F8AA4;font-weight: 900;">1LKH</h1>
				</div>
				<div class="col-md-4">
				<p style="float:left;font-size: 25px;margin-top: 41px;color:#C13639;"> <b>Clients over the <br>past years.</b></p>
				</div>
			</div>-->
			<div class="col-md-12" style="margin-top:100px;">
			<img class="img-responsive text-center" src="imgs/33years.PNG" style="width: 100%;">
			</div>
		</section>
		<section>
			<div class="col-md-12" style="margin-top:100px;">
				<h1 class="text-center" style="color:#2F8AA4;font-weight:600;font-size:42px;">OUR CUSTOMERS ARE ALWAYS HAPPY</h1>
			</div>	
			<div class="col-md-12" style="margin-top:10px;padding-left: 20%;padding-right: 20%;color:#C13639;">
				<h3 class="text-center" style="font-size: 21px;"><b>Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq</b></h3>
			</div>
			<div class="col-md-12" style="margin-top:50px;">
				<img class="img-responsive text-center" src="imgs/roundImg.PNG" style="margin-left:38%;">
			</div>	
			<div class="col-md-12">
				<h1 class="text-center sarithaBlue"><b>NAME</b></h1>
			</div>
			<div class="col-md-12">
				<div class="flex">
					<form action="" class="flex-item">
						<button class="button1"><b>Write a Testimonal</b></button>
					</form>

					<form action="" class="flex-item">
						<button class="button2"><b>View All</b></button>
					</form>
				</div>
			</div>	
		</section>
		<section>
			<div class="col-md-12" style="margin-top:100px;">
				<h1 class="text-center" style="color:#2F8AA4;font-weight:600;font-size:42px;">CHECK OUT OUR LATEST NEWS</h1>
			</div>
			<div class="col-md-12" style="margin-top:50px;padding-left: 40px;padding-right: 40px;">
				<div class="col-md-4">
					<img class="img-responsive text-center" src="imgs/60News.PNG">
					<h2 class="headCenter">LOREM IPSUM</h2>
					<h4 class="latestNewsContent"> Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</h4>
					<h2 class="headCenter1" style="text-decoration:underline;">Learn More</h2>
				</div>
				<div class="col-md-4">
					<img class="img-responsive text-center" src="imgs/69News.PNG">
					<h2 class="headCenter">LOREM IPSUM</h2>
					<h4 class="latestNewsContent"> Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</h4>
					<h2 class="headCenter1" style="text-decoration:underline;">Learn More</h2>
				</div>
				<div class="col-md-4">
					<img class="img-responsive text-center" src="imgs/90News.PNG">
					<h2 class="headCenter">LOREM IPSUM</h2>
					<h4 class="latestNewsContent"> Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,Lorem ipsum dolar amet tu conseq,</h4>
					<h2 class="headCenter1" style="text-decoration:underline;">Learn More</h2>
				</div>	
			</div>
		</section>	
		<section>
			<div class="col-md-12 book" style="margin-top:100px; padding-left:40px;">
				<div>
					<h1 style="margin-top:150px;color:#fff;font-size: 43px;"><b>BOOK AN</b></h1>
				</div>
				<div style="margin-top: -15px; width:34%;">
					<h1 style="background-color:#2F8AA4; color:#fff;font-size: 43px;"><b>APPOINTMENT NOW</b></h1>
				</div>
				<div style="border-bottom:3px solid #2F8AA4;width:20%;margin-bottom:100px;">
				</div>
			</div>	
			<div class="col-md-12" style="background-color:#2F8AA4;">
				<div class="flex">
					<form action="" class="flex-item" style="margin-top:35px;">
						<button class="button3"><b>Book Now</b></button>
					</form>

					<form action="" class="flex-item" style="margin-top:35px;margin-bottom:35px;">
						<button class="button3"><b>Book Via Practo</b></button>
					</form>
				</div>
			</div>	
		</section>	
		</body>
<div ng-include="'templates/footer.html'"></div>